/* app css stylesheet */

body {
    padding-top: 80px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

#editor {
    position: relative;
    height: 500px;
}

.right
{
    float:right
}
