<html lang="en" ng-app="webStub" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>WebStub</title>
        <link rel="stylesheet" th:href="@{/css/app.css}" href="../static/css/app.css" />
        <link rel="stylesheet" href="webjars/bootstrap/3.1.1/css/bootstrap.min.css" />

        <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
        <script src="webjars/angularjs/1.2.16/angular.js"></script>
        <script src="webjars/angularjs/1.2.16/angular-route.min.js"></script>
        <script src="webjars/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="webjars/ace/1.1.3/src/ace.js"></script>
        <script src="webjars/pnotify/1.2.0/jquery.pnotify.min.js"></script>

        <script th:src="@{/js/app.js}" src="../static/js/app.js"></script>
        <script th:src="@{/js/services.js}" src="../static/js/services.js"></script>
        <script th:src="@{/js/controllers.js}" src="../static/js/controllers.js"></script>
        <script th:src="@{/js/filters.js}" src="../static/js/filters.js"></script>
        <script th:src="@{/js/directives.js}" src="../static/js/directives.js"></script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Web Stub</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#createStub">Create stub</a></li>
                        <li><a href="#stubManagement">Manage stubs</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div ng-view="true"></div>
        </div>
    </body>
</html>